.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 80px;
  max-width: 1200px;
  margin: 0 -1rem;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 1rem; /* reapply padding *inside* if you still want breathing space */
}
