.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: -16px;
  margin-right: -16px;
  padding: 0.8rem;
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
}
.backBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  left: 0;
  margin-left: 1rem;
}
.backIcon {
  font-size: clamp(1.2rem, 2.8vw, 1.4rem);
  margin-right: 0.5rem;
  font-weight: 100;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}
.headerTitle {
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 600;
  text-align: center;
  color: black;
  width: 100%;
}

/* Form groups */
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  color: #333;
}

/* Inputs */
.input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  font-size: clamp(1rem, 2.8vw, 1.1rem);
  color: #333;
  box-sizing: border-box;
}

.input:focus,
.authInput:focus {
  border-color: #66bfa7;
  outline: 1px solid #66bfa7;
}

.input::placeholder,
.authInput::placeholder {
  font-size: clamp(13px, 2.3vw, 14px);
  color: rgba(0, 0, 0, 0.4);
}

/* Inline grouping ( phone + button, email + domain) */
.inlineGroup {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.emailInputWrapper {
  position: relative;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.at {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  color: #374151;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
}

/* Select dropdown */
.select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  font-size: clamp(13px, 2.3vw, 14px);
  color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

/* Outline button  */
.outlineButton {
  background: #d9d9d9;
  color: #ffffff;
  font-size: clamp(0.75rem, 1.25vw, 0.875rem);
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s, border-color 0.2s;
  white-space: nowrap;
}

.emailButton {
  position: absolute;
  right: 1rem;
  background: #d9d9d9;
  color: #ffffff;
  font-size: clamp(0.75rem, 1.25vw, 0.875rem);
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s, border-color 0.2s;
  white-space: nowrap;
}

/* .outlineButton:hover,
.emailButton:hover {
  background: #d8d1d1;
}
 */

/* Bottom submit button */
.bottomButton {
  width: 100%;
  padding: 1rem;
  font-size: clamp(1rem, 1.75vw, 1.125rem);
  border-radius: 16px;
  border: none;
  cursor: not-allowed;
  background: #d1d5db;
  color: #9ca3af;
  transition: background 0.2s;
  border-radius: 5px;
}

.bottomButton.enabled {
  cursor: pointer;
  background: #66bfa7;
  color: #fff;
}

.bottomButton.enabled:hover {
  background: #57ae97;
}

.inlineButton {
  background: #d9d9d9;
  color: #ffffff;
  font-size: clamp(0.75rem, 1.25vw, 0.875rem);
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s, border-color 0.2s;
  white-space: nowrap;
}

.error {
  color: red;
  font-size: clamp(13px, 2.3vw, 14px);
  margin-top: 0.3rem;
}

.success {
  color: #66bfa7;
  font-size: clamp(13px, 2.3vw, 14px);
  margin-top: 0.3rem;
}

/* Enabled state */
.inlineButton.enabled {
  background: #66bfa7;
  border-color: #66bfa7;
  cursor: pointer;
  color: #fff;
}

/* password */
.passwordWrapper {
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

.authButton {
  display: flex;
  justify-content: flex-end;
}

/* Authentication Code Section */

.authContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.authInput {
  width: 100%;
  padding: 1rem;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  font-size: clamp(1rem, 2.8vw, 1.1rem);
  color: #333;
  box-sizing: border-box;
}

.authFooter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  right: 1rem;
}

.timer {
  color: #ff6b6b;
  font-size: clamp(13px, 2.3vw, 14px);
  font-weight: normal;
}
.authFooter .inlineButton {
  position: static;
  transform: none;
  padding: 6px 10px;
}

/* modal section */
.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 2.2rem;
}
.checkicon {
  object-fit: contain;
}

.modalTitle {
  font-size: clamp(20px, 2.5vw, 24px);
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #1f1f1f;
}

.successMessage {
  text-align: center;
  font-size: clamp(16px, 2.8vw, 18px);
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.6);
}

.modalButton {
  display: block;
  width: 100%;
  background: #66bfa7;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-top: 4rem;
  font-size: clamp(15px, 2.5vw, 16px);
  font-weight: 600;

  &:hover {
    background-color: #51b59a;
  }
}
