.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.pointsInput {
  flex: 1;
  padding: 0.5rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 1rem;
  outline: none !important;
  -moz-appearance: textfield;
}
.pointsInput:focus {
  border: 1px solid rgb(112, 233, 112);
}

.secondaryBtn {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100px;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointsInput::-webkit-outer-spin-button,
.pointsInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Chrome/Safari remove arrows */
}

.leftLabel {
  position: absolute;
  left: 0.5rem;
  font-size: 0.9rem;
  color: #666;
  pointer-events: none;
}

.rightLabel {
  position: absolute;
  right: 0.5rem;
  font-size: 0.9rem;
  color: #666;
  pointer-events: none;
}
