.profileSection {
  margin-top: 1rem;
  background-color: #fff;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem 1rem;
}

.sectionTitle {
  font-size: 15px;
  color: #000;
  margin-bottom: 13px;
  margin-top: 0;
  font-weight: 600;
}

.sectionItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
