.wrapper {
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: fixed;
  top: 138px;
  left: 0;
  width: 100%;
  z-index: 500;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sellerNav {
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #f2f4f7;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.sellerNav::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  gap: 0.75rem;
  padding: 1rem 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sellerContainer {
  display: flex;
  gap: 0.75rem;
  padding: 1rem 0rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.item {
  flex: 0 0 auto;
  padding: 0.4rem 1rem;
  border: 1px solid #79e0c4;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #79e0c4;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* .item:hover {
  background-color: #f0fdf8;
} */

.active {
  background-color: #66bfa7;
  border: 1px solid #66bfa7;
  color: #fff;
  /* color: #66bfa7; */
}

.loading {
  flex: 1;
  text-align: center;
  padding: 0.4rem 1rem;
  color: #666;
  font-size: 12px;
}

.error {
  flex: 1;
  text-align: center;
  padding: 0.4rem 1rem;
  color: #e74c3c;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 468px;
    left: 50%;
    transform: translateX(-50%);
  }
  .item {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    justify-content: center;
  }
}
