.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 1rem;
  z-index: 500;
  box-sizing: border-box;
}

.purchaseButton {
  flex: 1;
  padding: 0.8rem 1rem;
  background-color: #66bfa7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background 0.2s ease;
}

.purchaseButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.addToCart {
  flex: 1;
  padding: 0.8rem 1rem;
  border: 1px solid #66bfa7;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background 0.2s ease;
}

.addToCart:disabled {
  border-color: #cccccc;
  color: #999999;
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #f5f5f5;
}

.messageButton {
  padding: 0.5rem 1rem;
  border: 1px solid #66bfa7;
  background-color: #ffffff;
  color: #66bfa7;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  transition: background 0.2s ease;
}

/* Product Drawer Styled Like Cart */
.productDetails {
  position: fixed;
  bottom: 73.5px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 400;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px 8px 0 0;
}

.cartWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: 1px solid #66bfa7;
}

.quantitySelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.2rem 0;
  background-color: white;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.controls button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.controls span {
  min-width: 24px;
  text-align: center;
  display: inline-block;
}

.summary {
  padding: 0.4rem 0;
  font-size: 0.95rem;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary p {
  margin: 0;
}

.priceSpan {
  font-size: 10px !important;
  margin-right: 14px;
}

.addBtn {
  background-color: #66bfa7;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  transition: background 0.2s ease;
}

.addBtn:hover {
  background-color: #4fad94;
}

.iconBtn {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}

/* Desktop: fixed width and centered */
@media (min-width: 1025px) {
  .actions {
    width: 468px;
    left: 50%;
    transform: translateX(-50%);
  }

  .productDetails {
    width: 468px;
    left: 50%;
    transform: translateX(-50%);
  }
}
