.container {
  position: relative;
  width: 466px !important;
  margin: 0 auto; /* center horizontally */
}

.sellerPanel {
  position: fixed;
  bottom: 85px;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  z-index: 1000;
}
@media (min-width: 1024px) {
  .sellerPanel {
    right: calc((100% - 440px) / 2);
  }
}

.sellerButtons {
  display: flex;
  flex-direction: column;
}

.sellerButton {
  background-color: #fff;
  color: #000;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s ease;
  font-size: 12px;
}
.sellerButton2 {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.4);
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s ease;
  font-size: 12px;
}

.sellerButton:hover,
.sellerButton2:hover {
  background-color: #f3f3f3;
}

.plusButton {
  width: 50px;
  height: 50px;
  background-color: #66bfa7;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.plusButton:hover {
  background-color: #56bfa7;
}
