.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 112px;
  background-color: #ffffff;
  padding: 0rem 1rem;
  margin: 10px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14px;
}
.reviewTitle {
  font-size: 12px;
  color: #000000;
  font-weight: 600;
}

.viewAll {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  transition: color 0.2s ease;
  font-size: 12px !important;
  font-family: inherit !important;
}

.viewIcon {
  color: rgba(0, 0, 0, 0.4);
}

.reviewList {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-left: 0;
  scrollbar-width: none;
  margin: 0;
}
.reviewList::-webkit-scrollbar {
  display: none;
}

.reviewItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 138px;
  height: 48px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-shrink: 0;
  overflow: hidden;
  /*   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 3px;
  object-fit: contain;
  flex-shrink: 0;
}

.reviewContent {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.reviewContent strong {
  display: block;
  font-size: 0.95rem;
  color: #111;
  margin-bottom: 0.2rem;
  font-weight: 500;
}

.rating {
  width: fit-content;
  font-size: 0.9rem;
  color: #ffb400;
  margin-bottom: 0.25rem;
}

.content {
  width: fit-content;
  margin: 0;
  font-size: 0.8rem;
  color: #333;
  line-height: 1.4;

  /* Single-line ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message {
  text-align: center;
  padding: 1.5rem 0;
  color: #555;
  font-size: 0.95rem;
  background-color: #ffffff;
}
