.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productInfoWrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 122px;
}

.productWrapper {
  background-color: #ffffff;
  /*   padding: 1rem 0rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background-color: #ffffff;
  padding: 0rem 1rem;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.expiration {
  font-size: 12px;
  font-weight: 600;
  color: #ff381d;
  margin: 0;
}

.price {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  margin: 0;
  background-color: #ffffff;
  padding: 0rem 1rem;
}

.discountWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.original {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
  font-weight: normal;
  font-size: 14px;
}

.discount {
  color: #ff381d;
  font-size: 20px;
  font-weight: bold;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 15px 16px;
  gap: 8px;
  background-color: #ffffff;
}

.detail {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  margin: 0;
  font-size: 13px;
  color: #000;
}
.section h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.section p,
.section ul {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.5;
}

.section ul {
  padding-left: 1rem;
  list-style: disc;
}

.noBulletWrapper {
  margin-top: 3%;
}

.noBullet {
  list-style: none !important;
  margin-left: -5%;
}
