.shopHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 63px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0rem 1rem;
}

.shopDetails {
  display: flex;
  align-items: center;
  gap: 9px;
}

.shopInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.shopProfile {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.hospital {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.location {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  margin: 0;
}

.favoriteWrapper {
  background: none;
  border: none;
}
