.container {
  position: sticky;
  top: 64px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 20px 0px;
}

.row {
  display: flex;
  gap: 8px;
  width: 100%;
}

.row > * {
  flex: 1;
}
