.mainContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /*   min-height: 100vh; */
  /*  margin-top: 140.9px; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  padding: 1rem 0rem;
}

/* Filter bar */
.filterBar {
  position: sticky;
  background-color: #fff;
  top: 154px;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 0rem;
}

.totalCount {
  font-size: 0.95rem;
  color: #555;
}

.sortDropdown {
  position: relative;
}

.sortBtn {
  background: none;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.dropdownContent {
  position: absolute;
  top: 120%;
  right: 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  min-width: 120px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  z-index: 20;
  flex-direction: column;
}

.dropdownContent button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  cursor: pointer;
  font-size: 0.9rem;
  width: 100%;
}

.dropdownContent button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* 카드 */
.card {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  backdrop-filter: blur(6px);
}

/* 이미지 영역 */
.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 147px;
  padding: 0rem;
  overflow: hidden;
  border-radius: 6px;
}

.image {
  border-radius: 6px;
  object-fit: contain;
}

.icons {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 5%;
  right: 7%;
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.iconBtn:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10000px;
}

/* 컨텐츠 */
.content {
  padding-top: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

/* 상품 상세 */
.detail {
  font-size: 0.9rem;
  color: #666;
  margin: 0.5rem 0;
}

/* 가격 */
.price {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.original {
  text-decoration: line-through;
  color: #999;
  margin-right: 0.5rem;
}

.discount {
  color: #000000;
  font-weight: 600;
}

/* 기타 정보 */
.info {
  font-size: 0.85rem;
  color: #777;
  line-height: 1.4;
  margin-top: 0.5rem;
}

/* 검색 결과 없을 때 */
.emptyContainer {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
  color: #777;
}

.emptyText {
  margin-top: 1rem;
  font-size: 1rem;
}
/* .divider {
  background-color: #f2f4f7;
  height: 14px;
  margin-left: -1rem;
  margin-right: -1rem;
  box-sizing: border-box;
  margin-top: 130.9px;
}
 */
