.profileItem {
  border-bottom: 1px solid #eee;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.icon {
  font-size: 0.9rem;
  color: #999;
}
.label {
  font-size: 13px;
  color: #000;
  font-weight: normal;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
}
