.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 85px;
  margin-left: -16px;
  text-align: center;
  margin-right: -16px;
  padding: 0.8rem;
  text-align: center;
  position: relative;
}
.backBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  left: 0;
  margin-left: 1rem;
}
.backIcon {
  font-size: clamp(1.2rem, 2.8vw, 1.4rem);
  margin-right: 0.5rem;
  font-weight: 100;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}
.title {
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 600;
  text-align: center;
  color: black;
  width: 100%;
}

/* Input Groups */
.inputGroup {
  margin-bottom: 1rem;
  position: relative;
}
.inputGroup label {
  display: block;
  margin-bottom: 4px;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  color: #333;
}
.inputGroup input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  font-size: clamp(1rem, 2.8vw, 1.1rem);
  color: #333;
  box-sizing: border-box;
}
.inputGroup input::placeholder {
  font-size: clamp(13px, 2.5vw, 14px);
  color: rgba(0, 0, 0, 0.4);
}
.inputGroup input:focus {
  border-color: #66bfa7;
  outline: 1px solid #66bfa7;
}

.error {
  color: red;
  font-size: clamp(13px, 2.3vw, 14px);
  margin-top: 0.3rem;
}

.success {
  color: #66bfa7;
  font-size: clamp(13px, 2.3vw, 14px);
  margin-top: 0.3rem;
}

.inputError {
  outline: none !important;
  border-color: #ff6b6b !important;
}

/* Inline Button inside Input */
.inputWithButton {
  position: relative;
}
.inlineButton {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: clamp(0.85rem, 2.3vw, 0.95rem);
  cursor: pointer;
  color: #fff;
  background-color: #bcbcbc;
  transition: background-color 0.3s;
}
.inlineButton:disabled {
  background-color: #bcbcbc;
  color: #fff;
}
.inlineButton:not(:disabled) {
  background-color: #66bfa7;
}
.inlineButton:not(:disabled):hover {
  background-color: #51b59a;
}

/* Authentication Code Section */
.authContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.authFooter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  right: 1rem;
}

.timer {
  color: #ff6b6b;
  font-size: clamp(13px, 2.3vw, 14px);
  font-weight: normal;
}
.authFooter .inlineButton {
  position: static;
  transform: none;
  padding: 6px 10px;
}

/* Main Submit Button */
.mainButton {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 4px;
  font-size: clamp(1rem, 2.8vw, 1.1rem);
  background-color: #bcbcbc;
  color: #fff;
  cursor: not-allowed;
  margin-top: 1.5rem;
  transition: background-color 0.3s;
}
.mainButton.enabled {
  background-color: #66bfa7;
  cursor: pointer;
}
.mainButton.enabled:hover {
  background-color: #51b59a;
}

/* modal */
.successMessage {
  text-align: center;
  font-size: clamp(16px, 2.8vw, 18px);
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.6);
}

.modalButton {
  display: block;
  width: 100%;
  background: #66bfa7;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-top: 4rem;
  font-size: clamp(15px, 2.5vw, 16px);
  font-weight: 600;

  &:hover {
    background-color: #51b59a;
  }
}
